
  <div class="left-column">
    <h1 id="pageheader">Coming Soon!</h1>
    <p>This is going to be the most amazing thing you've ever seen. Really.</p>
    <p>Give us your deets and we'll let you in on the ground floor.</p>
  </div>

  <div class="right-column">
    <div class="logo"></div>
  </div>
  <div class="form">
    <form action="/suckers" method="post" name="suckers_input">
      <input type="text" id="name" name="name" value="What everybody calls you" autofocus/>
      <input type="email" id="mail" name="email" value="Your@email.com"/>
      <input type="text" id="twitter" name="twitter" value="@Twitter"/>
      <input type="text" id="phone" name="phone" value="Phone"/>
      <div class="button">
        <button type="submit">Press the button!</button>
      </div>
    </form>
  </div>
