<html>
  <head>
    <title>Born Every Minute</title>
    <link rel="stylesheet" href="css/layout.css">
  </head>

  <body>
    <div class="main">
      <h1>Born Every Minute</h1>
    </div>
    <%= yield %>
  </body>

</html>
