
  <div class="suckers">
    <h2 id="pageheader">Suckers</h2>
    <p>Click anywhere on a row to see details</p>
    <br>
    <table id="suckerstable">
      <tr>
        <th id="tb_headers">Name</th>
        <th id="tb_headers">Email</th>
      </tr>

      <% @suckers.each_with_index do |value, key| %>
          <tr>
          <% value[0..1].each do |item| %>
            <td><a href="/suckers/<%= key %>"><%= item %></a></td>
          <% end %>
          </tr>
      <% end %>

    </table>
  </div>

