
  <div class="suckers">
    <h1 id="pageheader">Suckers</h1>
    <p>Click anywhere on a row to see details</p>
    <br>
    <table id="suckerstable">
      <tr>
        <th id="tb_headers">Name</th>
        <th id="tb_headers">Email</th>
      </tr>

      <% suck.each_with_index do |value, key| %>
          <tr>
            <td><a href="/suckers/<%= key %>"><%= value[0] %></a></td>
            <td><a href="/suckers/<%= key %>"><%= value[-1] %></a></td>
          </tr>
      <% end %>

    </table>
  </div>

