  <div class="suckers">
    <h1 id="pageheader">Suckers</h1>
    <a href='/suckers'>Return to listing</a>
    <br><br>
    <table id="suckerstable">
      <tr>
        <th id="tb_headers">Name</th>
        <th id="tb_headers">Email</th>
        <th id="tb_headers">Twitter</th>
        <th id="tb_headers">Phone</th>
      </tr>

      <tr>
      <% suckers.each do |sucker| %>

        <td><%= sucker %></td>

      <% end %>
      </tr>

    </table>
  </div>

