<div class="main">
  <div class="left-column">
    <h1 id="pageheader">Thanks!</h1>
    <p>Thanks <%= nm %>!</p>
    <p>We'll let you know about this amazing, incredible opportunity just as soon as possible!</p>
  </div>

  <div class="right-column">
    <div class="logo"></div>
  </div>
</div>
