body {
  margin: 80px;
  background-color: #FFF9EC;
  font-family: Verdana, Tahoma, Calibri, sans-serif;
  color: #303030;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
}

h2 {
  font-size: 3.5em;
  font-style: bold;
}

.main {
  max-width: 800px;
  margin: auto;
  padding-left: 40px;
  height: 100%;
}

.left-column {
  width: 59%;
  float: left;
}

.right-column {
  width: 39%;
  float: left;
}

.form {
  background-color: #66CC66;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
/*
#pageheader {
  font-size: 2.25em;
  font-style: bold;
}*/

#name {
  display: inherit;
  width: 90%;
  margin: 2% 5%;
}

#mail {
  display: inherit;
  margin: 2% 5%;
  width: 45%;
}

#twitter {
  display: inherit;
  margin: 2% 5%;
  width: 45%;
}

#phone {
  margin: 2% 5%;
  display: inherit;
  width: 45%;
}

.button {
  display: inherit;
  float: right;
  margin: -5% 10% 0% 0%;
}

.logo {
  background-image: url("../img/logo_sm.png");
  background-repeat: no-repeat;
  height: 320;
  margin-left: 100px;
  margin-top: -50px;
}

#suckerstable {
  width: 100%;
  text-align: left;
  border: .2em solid black;
  margin: 10px;
}

#suckerstable #tb_headers {
  background-color: grey;
  color: black;
}

.footer {
  clear: both;
  position: relative;
  bottom: 0;
  text-align: center;
  margin: 20px, 0px, 15px, 0px;
}

button {
  color: #303030;
  background-color: #FFF9EC;
  font-weight: bold;
}

